<div class="jumbotron text-center">
    <h2>TRP Heroes</h2>
    <div>
        <h3>TRP: Taber's Role Play</h3>
        <p>
            Is a simple set of rules that is easily extensible to any fantasy timeline.
            It utilizes turn based system and story telling to set a scene.
            It uses skills and abilities trees to determine various aspects of 
            the character and an experience base point system to purchase them.
            The character is defined by aesthetic descriptions, a point based 
            attribute system consisting of: Strength(str), Dexterity(dex), 
            Constitution(con), Endurance(end), Speed(spd), Mind(mnd), and Soul(sol),
            and various skills and abilities she has acquired.  
        </p>
    </div>

    <div>
        <h3>Hero</h3>
        <p>
            A hero (masculine or gender-neutral) or heroine (feminine) 
            (Ancient Greek: ἥρως, hḗrōs) is a person or character who, 
            in the face of danger and adversity or from a position of weakness,
            displays courage, bravery or self-sacrifice—that is, heroism—for some
            greater good; a man or woman of distinguished courage or ability, 
            admired for his/her brave deeds and noble qualities.
        </p>
    </div>

    <div>
        <h3>What it all means</h3>
        <p>
            By combining these two definitions one can get a general idea of what the game 
            is about, and thus know if they want to give it a try. Some other important aspects
            that are important are: This is a <strong>role playing game.</strong> and do to such 
            it is a somewhat wordy allowing interactions between characters in the fantasy world.
            This is very focused on a violent world and combat/finding ways to avoid combat are highlighted.
            It is also about discovery; this takes place as lore, personality, and world exploration.

        </p>
    </div>
    
</div>