<div class="row jumbotron text-center">
    <h2>TRP Heroes!</h2>
    <div class="hidden" id="characterId" data-id="{{characterId}}"></div>
    <canvas id="game" width="640px" height="480px"></canvas>
    <script src="js/game/helper.js"></script>
    <script src="js/game/conversation.js"></script>
    <script src="js/game/npc.js"></script>
    <script src="js/game/transition.js"></script>
    <script src="js/game/battle.js"></script>
    <script src="js/game/menu.js"></script>
    <script src="js/game/map.js"></script>
    <script src="js/game/character.js"></script>
    <script src="js/game/game.js"></script>
</div>