<div class="row jumbotron text-center">
    <h2>TRP Heroes!</h2>
    <canvas id="game" width="640px" height="480px"></canvas>
    <script src="js/game/helper.js"></script>
    <script src="js/game/map.js"></script>
    <script src="js/game/character.js"></script>
    <script src="js/game/game.js"></script>
    <!--<script src="js/game/main.js"></script>-->
    <script>
        Game.initialize();
        Game.addMap('js/game/assets/maps/test.png');
        Game.addPlayer(100, 100);

        Game._intervalId = setInterval(Game.run, 0);
        console.log('game loaded');
    </script>
</div>