<div class="row jumbotron text-center">
    <h2>Sign Up</h2>

    <form class="form-inline" name="signup">
        <div class="input-group">
            <input name="email" type="text" class="form-control" placeholder="Email" ng-model="userData.email"
                   required/>
        </div>
        <div class="input-group" ng-class="{'has-error': (confirmPassword != userData.password) && signup.confirmation.$dirty}">
            <input name="password" type="password" class="form-control" placeholder="Password" ng-model="userData.password" required/>
        </div>
        <div  class="input-group" ng-class="{'has-error': (confirmPassword != userData.password) && signup.confirmation.$dirty}">
            <input name="confirmation" type="password" class="form-control" placeholder="Re-type Password" ng-model="confirmPassword">
        </div>
        <div>
            <button class="btn btn-primary" ng-click="signUp(userData)">Sign Up</button>
        </div>
    </form>
</div>